@model List<Library_Management_System.Models.BookViewModel>
@{
    ViewData["Title"] = "Livros";
}

<h2 class="text-2xl font-bold text-center my-4">Livros</h2>

<div class="flex max-w-7xl justify-end -mt-12 mb-4">
    @{
        if (Context.Session.GetString("Admin") == "true")
        {
            <a href="/book/Create" class="bg-gray-700 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Registrar Livro</a>
        }
        else
        {
            <a class="py-5"></a>
        }
    }
</div>

<div class="flex justify-center">
    <div class="w-full max-w-6xl">
        <table class="min-w-full bg-gray-700 text-white rounded-lg shadow">
            <thead>
                <tr>
                    <th class="py-4 px-6 text-left">Título</th>
                    <th class="py-4 px-6 text-left">Nome do Autor</th>
                    <th class="py-4 px-6 text-left">Categoria</th>
                    <th class="py-4 px-6 text-left">Ano de Publicação</th>
                    <th class="py-4 px-6 text-left">Foto</th>
                    @{
                        if (Context.Session.GetString("Admin") == "true")
                        {
                            <th class="py-4 px-6 text-left">Ações</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr class="border-t border-gray-100">
                        <td hidden class="isbn">@book.ISBN</td>
                        <td class="py-2 px-4 text-left book-title">@book.Title</td>
                        <td class="py-2 px-4 text-left">@book.AuthorName</td>
                        <td class="py-2 px-4 text-left">@book.CategoryDescription</td>
                        <td class="py-2 px-4 text-left">@book.PublishedYear</td>
                        <td class="py-2 px-4 text-left">
                            <img src="data:image/jpeg;base64,@book.ImageBase64" onclick="openModal(this.src)" class="w-12 h-auto transition-transform transform cursor-pointer hover:scale-150" />
                        </td>
                        @{
                            if (Context.Session.GetString("Admin") == "true")
                            {
                                <td class="py-2 px-4 text-left">
                                    <a href="/book/edit?id=@book.Id" class="hover:text-gray-500">✏️</a>
                                    <a href="javascript:deleteRecord('book', @book.Id)" class="ml-2 hover:text-gray-500">❌</a>
                                </td>
                            }
                        }
                        <td>
                            <button type="button" class="btn btn-primary open-modal-btn" data-toggle="modal" data-target="#myModal" onclick="openModalS()">ℹ️</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden" onclick="closeModal(event)">
    <div class="bg-white p-4 my-12 rounded-lg" onclick="event.stopPropagation();">
        <img id="modalImage" class="max-w-full max-h-screen h-96 mx-auto" />
    </div>
</div>

<!-- Modal Synopsis -->
<div id="modalS" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden" onclick="closeModalS(event)">
    <div class="bg-white p-4 my-12 rounded-lg w-5/6" onclick="event.stopPropagation();">
        <div class="modal-header p-4 pb-6">
            <h2 class="modal-title text-xl font-bold text-center" id="exampleModalCenterTitle">Sinopse</h2>
        </div>

        <div class="modal-body PX-2">
            <!-- Content will be updated dynamically -->
        </div>
    </div>
</div>

<script>
    function openModal(src) {
        document.getElementById('modal').classList.remove('hidden');
        document.getElementById('modalImage').src = src;
    }

    function closeModal(event) {
        if (!event || event.target == document.getElementById('modal')) {
            document.getElementById('modal').classList.add('hidden');
        }
    }
    function openModalS() {
        document.getElementById('modalS').classList.remove('hidden');
    }

    function closeModalS(event) {
        if (!event || event.target == document.getElementById('modalS')) {
            document.getElementById('modalS').classList.add('hidden');
        }
    }
</script>